*{
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

nav{
    width: 100%;
    height: 12.5%;
    background-color: #5C4033;
}

main{
    width: 100%;
    height: 87.5%;
    background-color: #f5f5f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bookButton{
    background-color: #8a6c5e;
    color: black;
    height: 7.5%;
    padding: 1%;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.book{
    text-decoration: none;
    font-size: 250%;
    color: rgb(255, 255, 255);
}

.blocksdiv{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2%;
}

.block{
    width: 28%;
    height: 90%;
    background-color: #b3b3b3;
    border-radius: 20px;
    color: white;
    padding: 1%;
    font-size: 200%;
}

li{
    margin-left: 8%;
}

.blocktext{
    font-size: 85%;
}